*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
background-color: #000;
/*background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%)*/
}  
button{
    cursor: pointer;
}
p{
    color: white;
}
::selection{
    background-color: transparent;
}
::-webkit-scrollbar {
    display:none!important;
}
::-webkit-scrollbar-track {
    background: #4a2727;
}
::-webkit-scrollbar-thumb {
    background: #170303;
} 

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .gradient {
    --size: 750px;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#4377ef, #7befd0);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  
  .smooth-transition{
    transition: width 6s ease, height 6s ease, filter 0.2s ease, background-image 6s ease, border-radius 6s ease;
  }
  @media (min-width: 720px) {
    .gradient {
      --size: 500px;
    }
  }

/* Search */
/* Container for the search bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  /* Search bar input */
  .search-bar {
    width: 100%;
    max-width: 400px;
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #1e1e1f;
    color: white;
    outline: none;
    border:#000 2px solid;
  }
  
  /* Focus effect for the input */
  .search-bar:focus {
    background-color: #2b2b2a;
  }

  
/*Clicked Photo*/
#clicked-photo{
width: 50vw;
max-width: 420px;
height: auto;
aspect-ratio: 16/13;
position: fixed;
bottom: -100vh;
left: 10vw;
overflow: hidden;
display:flex;
z-index: 50;
transform: rotateZ(-10deg);
border: 20px solid white;
box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#clicked-photo #photograph{
position: relative;
width: 100%;
height: auto;
aspect-ratio: 16/13;
}
#clicked-photo #face-box{
position: absolute;
width: 100%;
height: auto;
top: 0px;
transform: translateY(-9%);
aspect-ratio: 16/14;
}
.clicked-photo-animation{
animation: throw-upward 5s ease-in-out 1;
transition: bottom 2s linear;
}
@keyframes throw-upward{
20%{bottom: 40vh;}
30%{bottom: 45vh; transform: rotateZ(10deg);}
50%{bottom: -100vh;}
}


/* Left Side Panel */
#video{
position: relative;
transform: translateY(0%);
object-fit: cover;
width: 100%!important;
height: auto!important;
aspect-ratio: 48/45!important;
}
canvas{
position: relative;
object-fit: cover;
transform: translateY(-105%);
width: 100%!important;
height: auto!important;
aspect-ratio: 48/45!important;
}
#video-container{
    border: 2px solid white;
}
.start-sampling{
position:absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
display: none; 
justify-content: center;
place-items: center;
background-color: transparent;
box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
border: 5px solid rgba(0,0,0,0.01);
border-radius: 30px;
}
.sample-button{
border: 3px solid #aaa; outline: none; border-radius: 100px; width: 80%; height: auto; max-width: 440px; aspect-ratio: 16/4.5; display: none; gap: 4%; padding: 1% 5%; background-color: white; overflow: hidden; justify-content: center;
place-items:center; 
}        
.emotions-roll{
animation: tape 10s  ease-in infinite;
animation-fill-mode: forwards;
aspect-ratio: 1/1; flex: 1; background-repeat: repeat-y; background-size: cover; max-width: 200px; background-position: 0% 1%;
}
@keyframes tape{
from{background-position: 0% 1%;}
to{background-position: 0% 100%;}
}

#recommendation-note{
    text-align:center;
    padding: 0%;
    font-size: 20px;
    font-family: 'open sans';
    color:white;
    font-weight: bold;
}
.note-glow{
background-image: linear-gradient(to right,#fff, #4facfe 30%, orange 50%, #00f2fe 80%, #fff);
 -webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
color: transparent!important;
text-transform:uppercase;
background-size: 500% auto;
animation: textShine 2s ease-in-out 3;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.recommend-button{
margin-top:  2%;
padding: 1.2em;
width: 65vw;
max-width: 260px;
aspect-ratio: 16/4.5;
background-color: white;
justify-content:center;
place-items:center;
display:flex;
border-radius: 50px;
position: relative;
cursor:pointer;
overflow: visible!important;
}

.recommend-button p{
font-size: min(6.8vw,20px);
font-family: 'open sans';
color: black;
font-weight: normal;
}

/*Right Side Panel*/
.player{
    margin-top: 4%;
    padding: 1%;
    border-radius: 10px;
    min-width: 380px;
    overflow:hidden;
    display: flex; flex-direction: column; justify-content: center; place-items: center;
    width: 65%;
    height: auto;
    backdrop-filter: blur(8px);
    background-color: rgba(255,255,255,0.2);
}
.player img{
    margin: 4%;
    width:90%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 5px;
}
.current-song-detail{
    display: flex;
    flex-direction: row;
    gap: 0%;
    width: 90%;
    margin-bottom: -5%;
}
.current-song-detail h2{
    font-size: min(4.5vw, 28px);
    padding-bottom: 4%;
    font-family: open sans;
    color:white;
    margin-left: -5%;
}
.current-song-detail p{
    font-size: min(4vw, 20px);
    font-family: open sans;
    font-style: italic;
    color:white;
    margin-left: -5%;
}
.play-button{
    color: white;
    background-color: red;
    width: 70%;
    height: auto;
    aspect-ratio: 1/1;
    padding: 10%;
    outline: none;
    border: 0px;
    border-radius: 50%;
    font-size: 180%;
    transform: translate(20%,-50%);
    transition: transform ease-in 0.1s;
}
.play-button:hover{
    background-color:  rgb(255, 0, 0);
    color: white;
    transform: translate(20%,-50%) scale(1.1);
}
.slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 0px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 6%;
}
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 55px;
    border-radius: 0%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 35px;
    height: 35px;
    background: white;
    cursor: pointer;
}

.similar-songs > div{
    display:flex;
    flex-direction: row;
}
.song-card{
    margin:5%;
    width: auto;
    height: 400px;
    aspect-ratio: 16/20;
    display:flex;
    flex-direction: column;
    place-items: center;
    border-radius: 10px;
    position: relative;
    cursor:pointer;
}
.thumb{
    aspect-ratio: 1/1;
    width: 100%;
    display:flex;
    flex-direction: column;
    place-items:center;
    justify-content: center;
}
.thumb img{
    width: 90%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.song-card h3{
    margin-top: 5%;
    font-family: open sans;
    font-size: min(4vw, 18px);
    color:white;
}
.song-card p{
    margin-top: 2%;
    font-family: open sans;
    font-style: italic;
    font-size: min(3.7vw, 16px);
    margin-bottom: 5%;
    color:white;
}
.similar-song-play{
    width:28%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(202, 2, 2);
    position: absolute;
    bottom: 30%;
    right: 10%;
    opacity: 0;
    transform: translateY(18%);
    display:flex;
    justify-content: center;
    place-items: center;
    padding: 1%;
    transition: opacity 0.2s linear, transform 0.2s linear;
    z-index: 40;
    cursor: pointer;
}
.song-card:hover .similar-song-play{
    transform: translateY(0%);
    opacity: 1;
}
.similar-song-play:hover{
    transform: scale(1.08)!important;
    background-color: rgb(255, 0, 0)!important;
    transition: transform 0.2s linear, background-color 0.1s linear!important;
}